.nav {
  background-color: #b4d7d2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.nav-buttons {
  background-color: #ffffff;
  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-buttons:hover {
  background-color: #b4d7d2;
  color: #ffffff;
}

.event {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.event:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #b4d7d2;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.event-date,
.event-location,
.event-price {
  font-size: 16px;
  color: #333333;
  margin-bottom: 5px;
}




.event-container{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
